<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="navbar">
  <div class="container">
    <a class="navbar-brand" th:href="@{/}">SCC</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="nav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" th:href="@{/cadastros/unidades}">Unidades</a>
        </li>
      </ul>
      <span class="navbar-text text-white-50">CEASA</span>
    </div>
  </div>
</nav>
</body>
</html>
